*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
scroll-behavior: smooth;

}

::-webkit-scrollbar{
  width: 12px;
  background: transparent;
  background-color: transparent;
}

::-webkit-scrollbar-track{
  background: none;

}

::-webkit-scrollbar-thumb{
  background-color: #00ff99;
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}

body{
  background: #000;
  background-image: linear-gradient(rgba(0, 255, 0, 0.2) 1px, transparent 1px),
  linear-gradient(90deg, rgba(0, 255, 0, 0.2) 1px, transparent 1px);
  background-size: 50px 50px;
  scroll-behavior: smooth;
}


.floating-text-cntr{
  overflow: hidden;
}

/*navigation*/
.main-nav-cntr{
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;

}

.nav-wrapper{
  padding:10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-links-cntr{
  display: flex;
  align-items: center;
}

.nav-item{
  color: #4ebc90;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  padding-right: 50px;
  font-size: 18px;
}

.nav-item:hover{
color: #82e9c0;
}


a, p{
  text-decoration: none;
}

.type-text{
font-family: 'Courier New', Courier, monospace;
color: #00ff99;
font-size: 35px;
}

.cursor{
  display: inline-block;
  animation: blink 1s step-start infinite;
  color: rgba(0, 255, 153, 1);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.resume{
  background-color: transparent;
  color: #00ff99;
  border: 1px solid #00ff99;
  padding: 10px 30px;
  font-family: monospace;
  font-size: 18px;
  
}

.resume-icon{
  padding-left: 10px;
}

.resume:hover{
  cursor: pointer;
  box-shadow: 0 0 10px #00ff99, 0 0 20px #00ff99;
}

/*main hero section*/
.main-hero-cntr{
  margin-top: 150px;
  text-align: center;
}

.hero-text{
  font-family: monospace;
  font-size: 80px;
  color: #00ff99;
}

.title-desc{
  font-family: monospace;
  color: #00ff99;
  font-size: 20px;  
  padding-top: 20px;
}

.button-section{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top:35px;
  align-items: center;
  gap: 20px;
}

.about-me-btn{
  background-color: transparent;
  color: #00ff99;
  border: 1px solid #00ff99;
  padding: 20px 40px;
  font-family: monospace;
  font-size: 18px;
}

.links{
  font-family: monospace;
  color: #00ff99;
  text-decoration: none;
  font-size: 20px;
}

.link-icon{
  padding-right: 10px;
}

.links:hover, .link-icon:hover{
transform: scale(1.09);
color: #4ebc90;
}

/*skills tab*/
.skills-entire-cntr{
  display: flex;
  gap: 60px;
  overflow: hidden;
}
.skills-cntr{
  display: flex;
  justify-content: space-between;
  animation: slide 6s linear infinite;
  gap: 60px;
  white-space: nowrap;
  position: relative;
  margin-right: 60px;
}


.skills-box-temp{
  border: 4px solid #00ff99;
  position: relative;
  padding: 30px; /* smaller padding for control */
  width: 450px;
  height: 200px; /* fixed height for consistent box size */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00ff99;
  background-color: #000;
  
  
}

.skills-wrapper:hover .skills-cntr {
  animation-play-state: paused;
}

.skills-box-temp:hover{
background-color: transparent;
transition: all ease-in .21s;
}


.box-header{
  font-family: sans-serif;
  font-size: 25px;
  padding-top: 30px;
}

.skills-img{
  position: absolute;
  top: 20px;
  left: 20px;
  padding-bottom: 30px;
}

.skills-wrapper{
  display: flex;
  margin-top: 90px;
  white-space: nowrap;
overflow: hidden;
}

.box-descr{
  font-size: 20px;
  font-family: sans-serif;
  padding-top: 10px;
}

.text-cntr{
  width: 100%;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.text-cntr{
  padding-top: 30px;
}

/*about me*/
.about-me-wrapper{
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  margin: 0px 150px;
  border-radius: 20px;
  border: 1px solid #00ff99;
  /* padding-top: 100px; */

}

.username-underline{
  font-family: sans-serif;
  color: #00ff99;
}

.about-me-cntr{
  width: 100%;
  padding: 20px 50px;
  font-size: 30px;
  margin-top: 20px;
}
.about-me-img{
  width: 180px;
  padding-right: 15px;
}

.about-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-side{
  display: flex;
  align-items: center;
}

.Username-header{
  font-family: sans-serif;
  color: #00ff99;
  font-size: 60px;
}

.icons-about-me-cntr{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  max-width: 600px;
}

.about-me-text{
  font-size: 35px;
  font-family: sans-serif;
  color: #00ff99;
}

.hashtag{
  padding-top: 30px;
  font-family: sans-serif;
  text-decoration: underline;
  color: #00ff99;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 30px;
}

.skils-title-cntr{
  display: flex;
  margin-top: 90px;
  justify-content: center;
}

.skills-title{
font-family: monospace;
font-size: 70px;
color: #00ff99;
padding-bottom: 30px;
}



.skills-main{
  display: flex;
  gap: 30px;
}

.skills-wrap-cntr{
  display: flex;
justify-content: center;
margin: 10px 30px;
}


.box{
border: 3px solid #00ff99;
padding: 40px;
background-color: black;
}

.skills-icn{
display: flex;
justify-content: center;
padding-bottom: 20px;
}

.skills-text{
font-family: sans-serif;
font-size: 25px;
text-align: center;
color: #00ff99;
}

/*portfolio section*/
.portfolio-wrapper{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider{
  position: relative;
  width: 100%;
  height: 370px;

}
.item{
  position: absolute;
  width: 400px;
  height: 520px;
  text-align: justify;
  background-color: #000000;
  border-radius: 10px;
  padding: 20px;
  transition:  0.5s;
  left: calc(50% - 110px);
  top: 0;
  border: 1px solid #00ff99;
  overflow: hidden;
}

#next{
  position: absolute;
  right: 50px;
  top: 40%;
  color: #00ff99;
}
#prev{
  position: absolute;
  left: 50px;
  top: 40%;
}
#prev, #next{
  color: #00ff99;
  background: none;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  opacity: 0.5;
  transition: opacity 0.5s;
}
#prev:hover,
#next:hover{
  opacity: 1;
}

.portfolio-title{
  color: #00ff99;
  font-family: monospace;
  font-size: 60px;
  text-align: center;
  padding-bottom: 20px;
}

.item-header{
  color: #00ff99;
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 30px;
}

.item-text{
  color: #00ff99;
  font-family: sans-serif;
  font-size: 23px;
  text-align: center;

}

.portfolio-img{
  width: 100%;
  padding-bottom: 20px;
}

.portfolio-img:hover{
  transform: scale(1.02);
  cursor: pointer;
}

.portfolio-buttons-cntr{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 30px;
  
}

.portfolio-btn{
  background-color: transparent;
  border: 2px solid #00ff99;
  color: #00ff99;
  padding: 20px 30px;
  font-family: sans-serif;
  font-size: 18px;
}

.portfolio-btn:hover{
  cursor: pointer;
  box-shadow: 0 0 10px #00ff99, 0 0 20px #00ff99;
}
