*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    background-image: linear-gradient(rgba(0, 255, 0, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 255, 0, 0.2) 1px, transparent 1px);
    background-size: 50px 50px;
    overflow: hidden;
}


.floating-text{
    color: rgba(0, 255, 153, 0.9);
    position: absolute;
    font-size: 14px;
    animation: floatText 10s infinite linear;
}

@keyframes floatText {
    from {
        transform: translateY(100vh) translateX(0);
        opacity: 0.8;
    }
    to {
        transform: translateY(-10vh) translateX(20vw);
        opacity: 0.2;
    }
}

/*navigation*/
.main-nav-cntr{
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;

}

.nav-wrapper{
    padding:10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-links-cntr{
    display: flex;
    align-items: center;
}

.nav-item{
    color: #4ebc90;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    padding-right: 50px;
    font-size: 18px;
}

.nav-item:hover{
    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00ff99, 0 0 40px #00ff99, 0 0 50px #00ff99, 0 0 60px #00ff99, 0 0 70px #00ff99;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00ff99, 0 0 40px #00ff99, 0 0 50px #00ff99, 0 0 60px #00ff99, 0 0 70px #00ff99;
    }
  }

a, p{
    text-decoration: none;
}

.type-text{
font-family: 'Courier New', Courier, monospace;
color: #00ff99;
font-size: 35px;
}

.cursor{
    display: inline-block;
    animation: blink 1s step-start infinite;
    color: rgba(0, 255, 153, 1);
}

@keyframes blink {
    50% {
      opacity: 0;
    }
  }

 .resume{
    background-color: transparent;
    color: #00ff99;
    border: 1px solid #00ff99;
    padding: 20px 30px;
    font-family: monospace;
    font-size: 18px;
    
 }

 .resume-icon{
    padding-left: 10px;
 }

 .resume:hover{
    cursor: pointer;
    transition: all 0.5s ease-in;
    box-shadow: 0 0 20px #00ff99, 0 0 40px #00ff99;
 }
/*main hero section*/
 .main-hero-cntr{
    margin-top: 150px;
    text-align: center;
 }

 .hero-text{
    font-family: monospace;
    font-size: 80px;
    color: #00ff99;
 }

 .title-desc{
    font-family: monospace;
    color: #00ff99;
    font-size: 20px;  
 }

 .button-section{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top:35px;
    align-items: center;
    gap: 20px;
 }

 .about-me-btn{
    background-color: transparent;
    color: #00ff99;
    border: 1px solid #00ff99;
    padding: 20px 40px;
    font-family: monospace;
    font-size: 18px;
 }

 .links{
    font-family: monospace;
    color: #00ff99;
    text-decoration: none;
    font-size: 20px;
 }

 .link-icon{
    padding-right: 10px;
 }

 .links:hover, .link-icon:hover{
transform: scale(1.09);
color: #4ebc90;
 }